/*ini file CSS*/

body {
    background-image: url(https://i.pinimg.com/736x/82/1e/67/821e67f51453df5b7741e3f5480a96b1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: fit-content;
}


.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-logo {
    height: 50px;
    width: 50px;
    background-image: url(https://picsum.photos/200);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 1px solid;
}

nav {
    display: flex;
}

nav > a {
    padding: 10px;
    border: 1px solid;
    text-decoration: none;
    color: black;
}

.banner-img {
    border: 1px solid;
    height: 400px;
}

.my-profile-content {
    border: 1px solid;
    height: 400px;
    align-content: center;
    text-align: center;
}

.achievement {
    border: 1px solid;
    height: 400px;
    align-content: center;
    text-align: center;
}

.contact-me {
    border: 1px solid;
    height: 200px;
    align-content: center;
    text-align: center;
}